#main {
    margin-bottom: 64px !important;
}

.imgheader {
    height: 500px !important;
    width: 100vw !important;
    border-radius: 0 !important;
}

.imgheader img {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    object-fit: cover;
    border-radius: 0 !important;
}

.pic02 {
    height: 300px !important;
    max-height: 300px !important;
    width: 300px !important;
    max-width: 300px !important;
    border-radius: 50%;
}

.pic02 img {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    object-fit: cover;
}

.pic03 {
    height: 300px !important;
    width: 100% !important;
    max-width: 100% !important;
}

.pic03 img {
    height: 100% !important;
    max-height: 100% !important;
    width: 100% !important;
    max-width: 100% !important;
    object-fit: cover;
}

.pic04 {
    width: 100% !important;
    max-width: 100% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.pic04 img {
    height: 100% !important;
    max-height: 100% !important;
    width: 50% !important;
    max-width: 50% !important;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}